.cursor{
    cursor: pointer;
}
.cart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #c7edfb;
    border-radius: 10px;
}
.delete-btn1{
    position: absolute;
    right: 10px;
    top: 0;
    color: brown;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.cart-details{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.cart-detail{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-left: 2px solid #c7edfb;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    padding: 10px;
}
.text-cart{
    width: 50%;
}
.cart-img{
    background-color: #c7edfb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img1{
    background-color: #c7edfb;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}
.cart-btn{
    background-color: #befedf;
    color: #05824c;
    border: 1px solid #11f290;
}
.delete-btn{
    background-color: #fed1dd;
    color: #71033a;
    border: 1px solid #ffa6e7;
}
.quantity{
    border: 1px solid tomato;
    background-color: #fcd0c9;
    border-radius: 50%;
    color: rgb(86, 14, 2);
}


@media only screen and (max-width: 950px){
    .cart-detail{
        width: 40%;
        display: block;
    }
}
@media only screen and (max-width: 500px){
    .cart-details{
        display: block;
        height: auto;
    }
    .text-cart{
        width: 100%;
    }
    .cart-detail{
        width: 100%;
        border: 0;
        height: auto;
        padding: 0px;
        margin-left: 0;
    }
}
